{% extends 'home/base.html' %}
{% block title %}<title>Fableey Notifications & Updates</title>{% endblock %}
{% block content %}
{% load static %}
<style>
   .date{
   font-weight: bold;
   color: darkred;
   font-family: arial;
   font-size: 15px;
   opacity: 0.7;
   }

   .link a{
      font-family:arial;
      color:  #2a3a4b;
      transition:all 0.2s linear;
   }
   .link:hover{
      font-size: 25px;
   }
</style>
<div class="midde_cont">
   <div class="container-fluid">
      <div class="row column_title">
         <div class="col-md-12">
            <div class="page_title">
               <h2>Notifications & Updates</h2>
            </div>
         </div>
      </div>
      <!-- row -->
<div class="row">
   <!-- table section -->
<div class="col-md-12">
<div class="white_shd full margin_bottom_30">
<div class="full graph_head">
   <div class="heading1 margin_0">
      <h2>All Notifications</h2>
   </div>
</div>
<div class="full inbox_inner_section">
   <div class="row">
      <div class="col-md-12">
         <div class="full padding_infor_info">
            <div class="mail-box">
               <aside class="sm-side">
                  <div class="user-head">
                     <a href="javascript:;">
                        <img width="65" src="{{user.profile_image.url}}" alt="#" />

                     </a>
                     <div class="user-name">
                        <h5 style="color: wheat;">{{user.user}}</h5>
                     </div>
                  </div>

                  <aside class="lg-side">
                     <div class="inbox-head">
                        <h3>Notifications({{total}})</h3>

                     </div>
                     <div class="inbox-body">

                        <table class="table table-inbox table-hover">
                           <tbody>
                              {% for i in all_notifications reversed %}
                              <tr class="link" style="width: 100%;">
                                 <td class="view-message"><a href="{{i.url}}">{{i.title}}</a></td>
                                 <td class="view-message text-right date">{{i.date}}</td>
                              </tr>
                              {% endfor %}
                              <!-- {% for i in user_notifications %} -->

                              <tr class="" style="width: 100%;">
                                 <td class="view-message"><a href="{{i.url}}">{{i.title}}</a></td>
                                 <td class="view-message text-right">{{i.date}}</td>
                              </tr>
                              <!-- {% endfor %} -->
                           </tbody>
                        </table>
                     </div>
                  </aside>
            </div>
         </div>
      </div>
   </div>
</div>
      </div>
   </div>
   <!-- table section -->
</div>
   </div>
   <!-- footer -->

</div>
{% endblock %}