{% extends 'home/base.html' %} {% block title %}<title>
    Payment Processing </title
  >{% endblock %} {% block content %} {% load static %}
  <!-- end topbar -->
  <!-- dashboard inner -->
 
    
  <style>
    #checkout{
        animation: zoom 2s infinite;
    }
    @keyframes zoom {
        5% {
            -webkit-transform: scale(1);
        }
        50% {
            -webkit-transform: scale(1.4);
        }
        75% {
            -webkit-transform: scale(1);
        }
        75% {
            -webkit-transform: scale(1.4);
        }
}
    #checkout:hover{
        background-color: rgb(0 196 255);
        border: 1px solid rgb(0 196 255);
    }
  </style>
  
  <div class="midde_cont">
    <div class="container-fluid">
      <div class="row column_title">
        <div class="col-md-12">
          <div class="alert alert-success" role="alert">
            <h1 class="text-center text-primary">Your Payment Deposit Request is under Review.</h1>
          </div>
        </div>
      </div>

      <h2 class="text-center text-success" style="font-family: calibri;">We will send you an Email after checking Payment Details.</h2>
    </div>

    <div class="container mt-5" style="margin-top:20px ;">
        <h1 style="font-size:40px;margin-bottom:4px;">How it works?</h1>
        <p style="font-size: 25px;
        line-height: 1.5;">As you send payment via any payment method ,Then your payment deposit request is created and put in to under Review.After that , our Team members check your payment details like Transaction ID , Payment screenshot , Sender Account.If they found valid payment from you .Then it becomes approved quickly and your Fableey Account is loaded with Payment you sent.This process can be completed in less than 1 hour.</p>
    </div>
  
  
    {% endblock %}
  </div>
  