{% extends 'home/base.html' %} {% block title %}<title>
  Get Fableey Premium Account</title
>{% endblock %} {% block content %} {% load static %}
<!-- end topbar -->
<!-- dashboard inner -->
<style>
  #jazz,#easy,#crypto,#coinbase,#payoneer{
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #jazz{
    height: 200px;
    background-image:url('{% static "jazz.png" %}');
    background-position-x:center ;
    background-position-y:center ;
    
  }
  #easy{
    height: 200px;
    background-image:url('{% static "easypaisa.png" %}');
    background-position-x:center ;
    background-position-y:center ;
  }

  #crypto{
    height: 200px;
    background-image: url('{% static "cry.jpg" %}');
    background-position: center;
    background-size: 120%;
    
  }

  #coinbase{
    height:200px;
    background-image: url('{% static "coinbase.png" %}');
    background-position: center;
  }

  #payoneer{
    height:200px;
    background-image: url('{% static "payoneer.png" %}');
    background-position: center;
    background-size:100% 60%;
  }

  #bank{
    height:200px;
    background-image: url('{% static "bank.jpg" %}');
    background-position: center;
  }
</style>
<div class="midde_cont">
  <div class="container-fluid">
   
    <!-- row -->
    <div class="row column1">
      <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
            <div class="heading1 margin_0">
              <h2>Available Desposit Options via Card</h2>
            </div>
          </div>
          <div class="full price_table padding_infor_info">
            <div class="row">
              <!-- column price -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head blue1_bg">
                      <h2>Basic</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog">
                        <p class="blue1_color">
                          $ <span class="price_no">20</span> Dollars
                        </p>
                      </div>
               
                      <div class="price_table_bottom">
                        <div class="center">
                          <a class="main_bt" href="{% url 'payoneer' 20 %}">Deposit now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end column price -->
              <!-- column price -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head green_bg">
                      <h2>Standard</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog">
                        <p class="green_color">
                          $ <span class="price_no">30</span> Dollars
                        </p>
                      </div>
                      
                    </div>
                    <div class="price_table_bottom">
                      <div class="center">
                        <a class="main_bt" href="{% url 'payoneer' 30 %}">Deposit now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end column price -->
              <!-- column price -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head red_bg">
                      <h2>Plus</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog">
                        <p class="red_color">
                          $ <span class="price_no">40</span> Dollars
                        </p>
                      </div>
                      
                    </div>
                    <div class="price_table_bottom">
                      <div class="center">
                        <a class="main_bt" href="{% url 'payoneer' 40 %}">Deposit now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end column price -->
              <!-- column price -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head yellow_bg">
                      <h2>Premium</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog">
                        <p class="yellow_color">
                          $ <span class="price_no">50</span> Dollars
                        </p>
                      </div>
                      
                    </div>
                    <div class="price_table_bottom">
                      <div class="center">
                        <a class="main_bt" href="{% url 'payoneer' 50 %}">Deposit now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end column price -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row column1">
      <div class="col-md-12">
        <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
            <div class="heading1 margin_0">
              <h2>Other Available Desposit Options</h2>
            </div>
          </div>
          <div class="full price_table padding_infor_info">
            <div class="row">
              <!-- column price -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head blue1_bg">
                      <h2>Coinbase</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog" id="coinbase">
                      
                      </div>
                
                      <div class="price_table_bottom">
                        <div class="center">
                          <a class="main_bt" href="{% url 'coinbase' %}">Deposit now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- end column price -->
              <!-- column price -->
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head green_bg">
                      <h2>Payoneer</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog" id="payoneer">
                      
                      </div>
                    </div>
                    <div class="price_table_bottom">
                      <div class="center">
                        <a class="main_bt" href="{% url 'payoneer_custom' %}">Deposit now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end column price -->
              <!-- column price -->
              

              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head blue1_bg">
                      <h2>Cyptocurrency</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog" id="crypto">
                      
                      </div>
               
                      <div class="price_table_bottom">
                        <div class="center">
                          <a class="main_bt" href="{% url 'coinbase'  %}">Deposit now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head blue1_bg">
                      <h2>Jazzcash</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog" id="jazz">
                      
                      </div>
               
                      <div class="price_table_bottom">
                        <div class="center">
                          <a class="main_bt" href="{% url 'custom_payment' 'jazzcash' %}">Deposit now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="table_price full">
                  <div class="inner_table_price">
                    <div class="price_table_head blue1_bg">
                      <h2>Easypaisa</h2>
                    </div>
                    <div class="price_table_inner">
                      <div class="cont_table_price_blog" id="easy">
                      
                      </div>
               
                      <div class="price_table_bottom">
                        <div class="center">
                          <a class="main_bt" href="{% url 'custom_payment' 'easypaisa' %}">Deposit now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
              <!-- end column price -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>


  <div>
   

  {% endblock %}
</div>
