{% extends 'home/base.html' %}
{% block title %}<title>Publish Fably Ads and Get Earnings</title>{% endblock %}
{% block content %}
{% load static %}
<h2 class="text-center mt-5">Click Fably Ads and win Earnings!</h2>
<br><br>
<div class="midde_cont">
    <div class="container-fluid">
       <div class="row column_title">
         
       </div>
       <!-- row -->
       <div class="row column1" id="top"> 
          <div class="col-md-12">
             <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                   <div class="heading1 margin_0">
                      <h2>Earning Revenue</h2>
                   </div>
                </div>
                <div class="full price_table padding_infor_info">
                   <div class="row">
                      <!-- column price --> 
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="table_price full">
                            <div class="inner_table_price">
                               <div class="price_table_head blue1_bg">
                                  <h2>Display Ads</h2>
                               </div>
                               <div class="price_table_inner">
                                  <div class="cont_table_price_blog">
                                     <p class="blue1_color">$ <span class="price_no">150</span> /month</p>
                                  </div>
                                  <div class="cont_table_price">
                                     <ul>
                                        <li><a href="#">Catchy and Responsive</a></li>
                                        <li><a href="#">High conversion Rate </a></li>
                                        <li><a href="#">High CPC and earnings </a></li>
                                        <li><a href="#">Unlimited ads </a></li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="price_table_bottom">
                                  <div class="center"><a class="main_bt" href="{% url 'display_ads' %}">Start Earning</a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- end column price -->
                      <!-- column price --> 
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="table_price full">
                            <div class="inner_table_price">
                               <div class="price_table_head green_bg">
                                  <h2>In-feed Ads</h2>
                               </div>
                               <div class="price_table_inner">
                                  <div class="cont_table_price_blog">
                                     <p class="green_color">$ <span class="price_no">300</span> /month</p>
                                  </div>
                                  <div class="cont_table_price">
                                     <ul>
                                        <li><a href="#">Catchy and Responsive</a></li>
                                        <li><a href="#">High conversion Rate </a></li>
                                        <li><a href="#">High CPC and earnings </a></li>
                                        <li><a href="#">Unlimited ads</a></li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="price_table_bottom">
                                  <div class="center"><a class="main_bt" href="{% url 'feed_ads' %}">Start Earning</a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- end column price -->
                      <!-- column price --> 
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="table_price full">
                            <div class="inner_table_price">
                               <div class="price_table_head red_bg">
                                  <h2>Article Ads</h2>
                               </div>
                               <div class="price_table_inner">
                                  <div class="cont_table_price_blog">
                                     <p class="red_color">$ <span class="price_no">500</span> /month</p>
                                  </div>
                                  <div class="cont_table_price">
                                     <ul>
                                        <li><a href="#">Catchy and Responsive</a></li>
                                        <li><a href="#">High conversion Rate </a></li>
                                        <li><a href="#">High CPC and earnings </a></li>
                                        <li><a href="#">Unlimited ads</a></li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="price_table_bottom">
                                  <div class="center"><a class="main_bt" href="{% url 'article_ads' %}">Start Earning</a></div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- end column price -->
                      <!-- column price --> 
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                         <div class="table_price full">
                            <div class="inner_table_price">
                               <div class="price_table_head yellow_bg">
                                  <h2>Golden Ads</h2>
                               </div>
                               <div class="price_table_inner">
                                  <div class="cont_table_price_blog">
                                     <p class="yellow_color">$<span class="price_no">1000</span>/month</p>
                                  </div>
                                  <div class="cont_table_price">
                                     <ul>
                                        <li><a href="#">Catchy and Responsive</a></li>
                                        <li><a href="#">High conversion Rate </a></li>
                                        <li><a href="#">High CPC and earnings </a></li>
                                        <li><a href="#">Unlimited ads</a></li>
                                     </ul>
                                  </div>
                               </div>
                               <div class="price_table_bottom">
                                  <div class="center"><a class="main_bt" href="{% url 'daimond_ads' %}" >Start Earning</a></div>
                               </div>
                            </div>
                         </div>
                      </div><br><br><br><br><br>
                      
                      {% endblock %}

